<div class= "homepage">
  <%= image_tag "danti-official-logo", class:"logo"%>
  <div class="sign-in">
    <%=link_to "Acessar conta" ,new_user_session_path, class: "login" %>
    <%=link_to "Registrar-se" ,new_user_registration_path, class:"signup"%>
  </div>
</div>