@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter:wght@400;500;600;700;800&family=Poppins&family=Roboto:wght@700&display=swap');

.homepage {
  display: grid;
  place-items: center;
  font-family: 'inter', sans-serif;
  /* background-image: url("https://images.unsplash.com/photo-1637775297509-19767f6fc225?q=80&w=1527&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: no-repeat;
  background-size: cover; */
}

.logo {
  width: 35%;
}

.sign-in a {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  color: #fff;
  text-decoration: none;
}

.login,
.signup {
  background: #452bb2;
  padding: 10px 20px;
  border-radius: 8px;
}

.login:hover,
.signup:hover {
  background: #6955c6;
  transition: all 0.5s ease-in-out;
}
